.card {
  border-top: 5px purple solid;
  border-radius: 4px;
}

.topic-top {
  font-weight: 300;
  text-transform: uppercase;
}

.topic-bottom {
  font-weight: 300;
  text-transform: capitalize;
}